<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/hotel-foods">Zomato</a>
        </li>
      </ul>
      <!-- <form class="d-flex">
        <strong *ngIf="loggedUserData && loggedUserData.userName"> {{loggedUserData.userName}}</strong>
        <button class="btn btn-primary" *ngIf="loggedUserData && loggedUserData.userName" type="button" (click)="onLogoFF()">LogOff</button>
        <button class="btn btn-primary" *ngIf="!loggedUserData" type="button" (click)="onLogin()">Login</button>
        <button class="btn btn-primary" *ngIf="!loggedUserData" type="button" (click)="onRegister()">Register</button>
      </form> -->
    </div>
  </div>
</nav>
<router-outlet></router-outlet>